{
    "globals": {
        "sinon": true,
        "describe": true,
        "it": true,
        "expect": true,
        "before": true,
        "beforeEach": true,
        "after": true,
        "afterEach": true
    }
}
